<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dashboard.component.css">
</head>

<body>

    <div class="dashboard">
        <!-- Sidebar -->
        <div class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="bi bi-cast"></i>Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="bi bi-file-person-fill"></i>Agregar Personal</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="bi bi-currency-dollar"></i>Agregar Sueldos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="bi bi-file-pdf-fill"></i>Generar Archivos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="bi bi-nut"></i>Configuración</a>
                </li>
            </ul>
        </div>

        <!-- Content -->
        <div class="main-content">
            <header class="d-flex justify-content-center align-items-center p-3">
                <div class="welcome text-center">
                    <h2>Sistema de Gestión Documental</h2>
                    <p>Bienvenido Nombre de la empresa</p>
                </div>
            </header>            

             


        </div>

        <!-- Login -->
        <div class="login-icon text-end">
                <a mat-list-item routerLink="/form" routerLinkActive="active" class="text-dark login-link"><i class="bi bi-person-badge"></i></a>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>